@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EEEEEE;
}
i {
    height: 30px !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.icon-bold {
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    margin: 10px 0 10px 10px;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #AAD7D9;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #AAD7D9;
    font-size: 1.15rem;
    font-weight: 600;
}


#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #3847c8;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #3B84A3;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    min-height: 40px;
    width: 75%;
    max-width: 1500px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #848487;
    border-radius: 15px 0 0 15px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 40px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  .container {
    width: 90%;
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    margin-left: 24px;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: #00000045 0px 0px 10px 0px;
}
.container-upper {
    width: 90%;
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    margin-left: 24px;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: #00000045 0px 0px 10px 0px;
}

.form-group {
    width: 90%;
    margin: 20px;
}

.class-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.class-item {
    background-color: #9589CA;
    border: none;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-effect-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.no-effect-button:focus {
    outline: none;
    box-shadow: none;
}

.no-effect-button:active {
    outline: none;
    box-shadow: none;
    background: none;
}

.container-upper {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
}